
<% include header %>
    <h2 class="section-header">06-JYOSHNA BOPPIDI</h2>
</header>
  

<div>

    

    <main>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        
                        <h4 class="Harticle">PRESENT</h4><br>
                        <p> I am a student of Northwest Missouri State University from fall 2018 working on my
                            Master's
                            of
                            Applied Computer Science.</p>
                        <h4>PAST</h4><br>
                        <p>I am from Nalgonda(India). I recently completed my Bachelor's in Electronics and
                            Communication
                            Engineering from Vignan Institute of Technology and Sciences. I am passionate towards
                            Software
                            Development, I hope I will excel my knowledge in this particular course.</p>

                        <h4>FUTURE PLAN</h4><br>

                        <p>After completion of Master's, I want to see myself as a Web Developer in the reputed
                            Software
                            Company.</p>
                    </div>
                    <div class="col-sm-6">
                        <img src="images\jyopic.PNG" class="rounded-circle" style="width:50%" alt="jyopic.PNG">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <h4>CONTACT DETAILS</h4><br>
                        <a href="https://www.facebook.com/boppidi.jyoshnareddy">click here</a>
                        <h4>SCHEDULE FOR
                                THE SEMESTER 1</h4><br>
                            <ol>
                                <li>WEB APPS (Monday, Wednesday) - 11:00am to 11:50am</li>
                                <li>DBMS (Monday, Wednesday) - 2:00pm to 2:00pm</li>
                                <li>OOPS (Tuesday, Thursday) - 8:00am to 8:50am</li>
                            </ol>
                    </div>
                    <div class="col-sm-4">
                            <div id="video">
                                    <embed width="200" height="200"  src="https://youtube.com/embed/z32VQgObAr4">
                                </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        
                    </div>
                </div>
            </div>
        </article>



    </main>

   
    <footer class="foot1">
        <h1 class="Head1" align=center>Thank you!</h1>
        <hr />
    </footer>
    <% include footer %>